body {
    display:flex;
    justify-content: center;
    align-items: center;
   background-image: url(456ht.jpg)
}
.bord {
    border: 1px solid #FF1493;

    padding: 30px;
    background-image: url(rera3.jpg);
}
	
#reset {
	border: 1px solid gray;
    background-image: url(rascu9.jpg);
	color: gray;
	margin-top: 30px;
    width: 462px;
    height: 40px;
    font-size:30px;
	
}

#reset:hover {
	color: burlywood;
	cursor:alias;
    background: #FF1493;
}
	
td {				
	text-decoration-skip: ink;			
	font-family:Times New Roman;
	color: gray;				
}
#box td {
	border:solid 1px gray;
	text-align:center;
	font-size:40px;
	font-family:Times New Roman;
	color: gray;
	width: 70px;
	height: 60px;
    background-image: url(download.jpg);
    padding-left: s 100px
}

#box td:hover {
	color: burlywood;
	cursor: hand;
    background: blue;
}